<div ng-controller="control">

<button type="button" ><a ng-href="/#/adminRun">Run My App..!</a></button>
<p ng-hide="question==undefined" id="question" >Q:{{question}}</p>
<ul id="answer"> <li ng-repeat="answer in AnswersCopy">{{answer}}  </li>
</ul>



<form >

	
<p>What would you like to create?</p>
<input type="radio" ng-model="choice" value="question">The Question<br>
<input  type="radio" ng-model="choice" value="answer">The Answers

</form>



<button type="button" ng-click="New()">Submit/New Question!</button><button type="button" ng-click="Store()"> ok!</button>
<first-directive    view-data= "filteredData"   search-text="searchText"  controller-push="controllerPush(search)" controller-function="controllerFunction(search)">

</first-directive>

</div>